services:
    db:
        image: postgres:15-alpine
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: admin123
            POSTGRES_DB: myapp
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        networks:
            - my_network

    pgadmin:
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: admin@example.com
            PGADMIN_DEFAULT_PASSWORD: admin
        ports:
            - "5439:80"
        depends_on:
            - db
        networks:
            - my_network

volumes:
    postgres_data:

networks:
    my_network:
